/* Profile syling */
.pro{
    float: none;
    display: block;
    margin: auto;
    width: 60%; 
    border-radius: 50% !important;  
}
input[type="file"]{
    background-color: transparent;
    border: none;
}
input[type="submit"]{
    background-color:  #ff819f; 
    width: 20%;
}
#upload{
    background-color: transparent;
}
#update{
    width: 40vw !important;
    height: 100vh;
    padding: 2vw 2vw;
    border-radius: 10px;
    margin-top: 2vw;
}